@model IEnumerable<Hastane.Business.Models.VMs.ListOfManagersVM>
@{
    ViewData["Title"] = "ListOfManagers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>ListOfManagers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                EmailAddress
            </th>
            <th>
                Roles
            </th>
            <th>
                Salary
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Surname
                    </td>
                    <td>
                        @item.EmailAddress
                    </td>
                    <td>
                        @item.Roles
                    </td>
                    <td>
                        @item.Salary
                    </td>
                    <td>
                        <a class="btn btn-success" asp-action="UpdatedManager" asp-route-id="@item.ID">Update</a>
                        <a class="btn btn-danger" asp-action="DeletedManager" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>  
        }
    </tbody>
</table>
